@font-face {
	font-family: 'concert_oneregular';
	src: url('webfonts/concertone_regular/concertone-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	display: grid;
	grid-template-rows: min-content, max-content;
	grid-template-columns: max-content, min-content;

	background-color: rgb(20, 20, 20);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.4;
	color: rgb(70, 70, 70);
}

h1, h2 {
	margin: 1em 0 0 0;
	font-family: 'concert_oneregular';
	font-weight: normal;
}

header {
	grid-row: 1;
	grid-column: 1/3;
	padding-left: 1em;
}

main {
	grid-row: 2;
	grid-column: 1;
	padding: 1em;
}

img {
	border: 2px solid rgb(40, 40, 40);
	border-radius: 2px;
	max-width: 100%;
	max-height: 100%;
}

aside {
	grid-row: 2;
	grid-column: 2;
	max-width: 30em;

	color: rgb(170, 170, 170);
}

code {
	font-family: 'Consolas', 'Courier New', Courier, monospace;
	border: 2px solid rgb(40, 40, 40);
	padding-left: 0.3em;
	padding-right: 0.3em;
	white-space: nowrap;
	color: rgb(200, 200, 200);
}

a {
	color: inherit;
}

@media(max-width: 1000px) {
	body {
		grid-template-columns: none;
		grid-template-rows: none;
	}

	header {
		grid-row: 1;
		grid-column: 1;
	}

	main {
		grid-row: 2;
		grid-column: 1;
	}

	aside {
		grid-row: 3;
		grid-column: 1;
		padding: 1em;
		max-width: none;
	}
}
